MYSQL_DATABASE=appdb
MYSQL_USER=appuser
MYSQL_HOST=db
MYSQL_PORT=3306
WEB_PORT=5000

MYSQL_PASSWORD=apppassword
MYSQL_ROOT_PASSWORD=rootpassword

# AWS_SECRET_NAME=lab-dom06/db-credentials
# AWS_REGION=eu-west-1
